:root {
    --border-size: 2px;
    --board-size: 82px;
}

.board {
    display: inline-flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    position: relative;
    padding: 10px;
}

:not(.meta) {
    width: var(--board-size);
}

.board:nth-child(2) {
    border-left: var(--border-size) solid rgb(0, 0, 0);
    border-right: var(--border-size) solid rgb(0, 0, 0);
}

.board-row {
    width: inherit;
    display: flex;
    flex-direction: row;
}

.top-row {
    border-bottom: var(--border-size) solid rgb(0, 0, 0);
}
.bottom-row {
    border-top: var(--border-size) solid rgb(0, 0, 0);
}

.cell {
    background-color: transparent;
    border: none;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    aspect-ratio: 1/1;
    width: 33%;
    /* font-family:'Courier New', Courier, monospace; */
}

.cell:nth-child(2) {
    border-left: var(--border-size) solid rgb(0, 0, 0);
    border-right: var(--border-size) solid rgb(0, 0, 0);
}

.win-container {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 10;
    flex: 1;
}

.X, .O {
    position: absolute;
    font-size: calc(var(--board-size)* 1.0);
    height: var(--board-size);
    text-align: center;
    top: 0;
}
.X {
    color: red;
}
.O {
    color: blue;
}