client/node_modules
client/build
client/dist

server/gdb_enter.in
logs/*

.vscode
.DS_Store

*.o

*.out*

testing
main

# Might accidentally appear
package-lock.json
package.json
node_modules

vgcore.*
